<footer>
    <div class="footer-container">
        <div class="footer-img">
            <img src="/assets/footer.png" alt="">
            <div class="footer-texts">
                <div class="text-overlay">
                    <h1>Comece agora com até 50% de desconto!</h1>

                    <div class="footer-grid">
                        <div class="footer-price">
                            <span>Planos a partir de</span>
                            <h2>R$19,99/mês*</h2>
                        </div>
                        <div class="footer-cta">
                            <a href="/"><button>COMECE AGORA</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-desc">
            <div class="footer-options">
                <ul>
                    <li>
                        <a href="">Temos de Serviço</a>
                        <div class="footer-space"></div>
                        <a href="">Política de Privacidade</a>
                        <div class="footer-space"></div>
                        <a href="">Definição de Cookies</a>
                    </li>
                </ul>
            </div>

            <div class="footer-line"></div>

            <div class="footer-important">
                <h1>© 2023 - VOLXYSEAT</h1>
                <h1>CNPJ 16.865.586/0001-51</h1>
                <h1>Rua Maria das Dores, 680 - São Paulo, São Paulo - SP, CEP 95718-001</h1>
            </div>
        </div>
    </div>
</footer>