.header-component {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.10);
    transition: 4s;
    animation: headerTop 1s normal forwards;
    background-color: transparent;
    backdrop-filter: blur(16px);
}

.header-context {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18rem;
    padding: 1rem;
}

.header-space {
    height: 64px;
    width: 1px;
    background-color: black;
}

.header-center li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-weight: 700;
}

.header-login {
    display: flex;
    gap: 2rem;
}

.header-login-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.cta-login {
    color: gray;
    font-weight: 700;
}

.cta-register {
    cursor: pointer;
    padding: 17px 40px;
    border-radius: 10px;
    color: white;
    background-color: #FB812C;
    border: 0;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    text-transform: uppercase;
    font-size: 18px;
    transition: all .5s ease;
    font-family: "Centra No2";
    font-weight: 700;
}

.cta-register:hover {
    background-color: #FB812C;
    color: hsl(0, 0%, 100%);
    box-shadow: #FB812C 0px 7px 29px 0px;
}

.header-logo img {
    height: 100px;
}


@media (max-width: 1436px) {
    .header-context {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
    }

    .header-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 936px) {
    .header-center {
        display: none;
    }
}

.i {
    display: inline;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.header-plain {
    padding: 1rem;
    text-transform: uppercase;
    color: #FFF;
    font-family: "Centra No2";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    flex-shrink: 0;
    border-radius: 20px;
    background: #FB812C;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}