<div class="header-component">
  <div class="header-context">
    <div class="header-right">
      <div class="header-logo">
        <img src="/assets/l2.png" alt="">
      </div>
    </div>
    <div class="header-center">
      <div class="header-item">
        <ul>
          <li>
            <a href="#about">Sobre</a>
            <a href="#prices">Preços</a>
            <a href="">Inspiração</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-left">
      <div class="header-login">
        <div class="header-space"></div>
        <div class="header-login-cta">
          <ng-container *ngIf="isAuthenticated; else loginButtons">

            <span class="header-username">Olá,&ensp;{{ username }}</span>

            <button mat-button [matMenuTriggerFor]="menu">
              <i class="fa-solid fa-bars i" style="color: #fb812c;"></i>
            </button>

            <mat-menu #menu="matMenu">
              <div class="i-cta">
                <a href="profile">
                  <button mat-menu-item>
                    Perfil
                  </button>
                </a>
                <button mat-menu-item (click)="logout()">
                  Sair
                </button>
              </div>
            </mat-menu>

            <div class="header-plain" *ngIf="teste">
              <span class="plains-user">{{ teste }}</span>
          </div>
          

          </ng-container>
          <ng-template #loginButtons>
            <a href="/login" class="cta-login">Entrar</a>
            <a href="/register"><button class="cta-register">Junte-se a VOLXY</button></a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>