<section><app-header></app-header></section>

<section class="sec-home">
    <div class="home-container">
        <div class="home-context">
            <div class="home-content">
                <div class="home-title">
                    <h1>Iniciamos a</h1>
                    <h2>JORNADA DIGITAL</h2>
                    <span>da sua empresa</span>
                    <p>Por meio da incorporação de tecnologia de ponta, criatividade e análise de dados, estamos
                        impulsionando a transformação digital que seu negócio.</p>
                    <div class="home-cta">
                        <a href="#prices">
                            <button>CONHEÇA NOSSOS PLANOS</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-rocket">
            <img src='/assets/r2.png' alt="">
        </div>
    </div>
</section>

<app-subscription></app-subscription>
<app-about></app-about>
<app-footer></app-footer>