.payment-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 2rem;
    border-radius: 10px;
    flex-direction: column;
    row-gap: 4rem;
    max-width: 50%;
}

.payment-context {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.payment-content{
    width: 100%;
}

.payment-sec {
    min-height: 100vh;
    gap: 4rem;
}

input {
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: rgba(255, 255, 255, 0.85);
    height: 2.5rem;
    width: 100%;
    font-size: 1.4rem;
    outline: none;
    padding: 10px 16px;
}

.payment-label {
    display: flex;
    flex-direction: column;
}

.label {
    color: #000;
    font-family: "Centra No2";
    font-size: 1rem;
    font-weight: 400;
}

.payment-method {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.method-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 10px;
    min-width: 100%;
}

.method-context {
    display: flex;
    align-items: center;
    justify-content: center;
}

.method-container:hover {
    border: 1px solid #fb812c;
}

.payment-confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem;
    border: 1px solid gray;
    border-radius: 10px;
}

.payment-confirm-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.payment-confirm-title h1 {
    color: #fb812c;
}

.payment-space {
    height: 1px;
    min-width: 100%;
    background-color: gray;
}

.payment-info {
    max-width: 60%;
}

.payment-cta button {
    cursor: pointer;
    padding: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    color: white;
    background-color: #FB812C;
    border: 0;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    text-transform: uppercase;
    font-size: 18px;
    transition: all .5s ease;
}

.payment-cta button:hover {
    background-color: #FB812C;
    color: hsl(0, 0%, 100%);
    box-shadow: #FB812C 0px 7px 29px 0px;
}

.payment-cta {
    overflow: visible;
}

.payment-security {
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 10px;
}

.payment-confirm-title {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.payment-security {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.subscription-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscription-context {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subscription-cta button {
    cursor: pointer;
    padding: 17px 40px;
    border-radius: 10px;
    color: white;
    background-color: #FB812C;
    border: 0;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 18px;
    transition: all .5s ease;
}

.subscription-cta button:hover {
    letter-spacing: 3px;
    background-color: #FB812C;
    color: hsl(0, 0%, 100%);
    box-shadow: #FB812C 0px 7px 29px 0px;
}

.subscription-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 4rem 4rem 4rem;
}

.subscription-title h1 {
    font-size: 64px;
}

.subscription-subtitle span {
    font-size: 24px;
}

.plains {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    max-width: 350px;
}

.plains-context {
    height: auto;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
}

.plains-cta button {
    cursor: pointer;
    padding: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    color: white;
    background-color: #FB812C;
    border: 0;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    text-transform: uppercase;
    font-size: 18px;
    transition: all .5s ease;
}

.plains-cta button:hover {
    background-color: #FB812C;
    color: hsl(0, 0%, 100%);
    box-shadow: #FB812C 0px 7px 29px 0px;
}

.plains-cta {
    overflow: visible;
}

.plains-context {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem;
    max-width: 320px;
    bottom: 0;
}

.plains-category {
    text-transform: uppercase;
    color: #FFF;
    font-family: "Centra No2";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FB812C;
    border: none;
}

.plains-desc h1 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.plains-price span {
    color: rgba(251, 127, 40, 0.70);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.subscription-branchs {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
